<div class="center jumbotron">
<h1>CIP#3R N47i0N</h1>
<h2>
This is NOT a home page for the
<a href="http://www.railstutorial.org/">Faint Hearted</a>
</h2>
<%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.jpg", alt: "Rails logo"),
'http://rubyonrails.org/' %>
